@media screen and (min-width: 601px) {
	html {
		font-size: 60px;
	}
}

@media screen and (max-width: 600px) {
	html {
		font-size: 16px;
	}
}

body {
	margin: 0;
	font-family: 'Courier Prime', monospace;
	font-size: 0.8rem;
	overflow: hidden;
}

#menu {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #ffffff;
	height: 7%;
	border-top: solid #f4f4f4 1px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#menu > div {
	color: #329dc6;
	text-align: center;
}

#screens {
	transition: transform 0.5s ease-in-out;
}

#screens-inner {
	width: 400vw;
}

#screens-inner > div {
	float: left;
	background: #f7f8f9;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
}

.header {
	background: #3faed6;
	width: 100%;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-align: center;
	color: #f5fafd;
	font-size: 1rem;
	margin-bottom: 0.75rem;
}

.overview-stack {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 5px rgba(0, 0, 255, .2);
}

.overview-stack > div {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	background: #ffffff;
	padding-top: 0.4rem;
}

#next-shift {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1rem;
}

.icon {
	margin-right: 0.4rem;
	vertical-align: middle;
}

.light-colour {
	color: #6f7781;
}

.light-white-colour {
	color: #e4f1f7;
}

.overview-no-coloured {
	background: #f7f8f9 !important;
	font-size: 1rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

.overview-coloured {
	background: #329dc6 !important;
	font-size: 1rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

.overview-coloured > div > .material-icons {
	font-size: 0.7rem;
}

#screen2 > .overview-stack {
	margin-bottom: 1rem;
}

.timesheet-week {
	background: #ffffff;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0.75rem;
	font-size: 1rem;
	padding-left: 0.7rem;
}

.timesheet-week > span {
	padding-right: 0.7rem;
}

.material-icons {
	font-size: 1rem;
}
